* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
nav {
  padding: 16px 25px;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 5;
  background: #ffffff;
}
.navBar_lists {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBar_lists img {
  width: 38px;
  height: 38px;
}
.navbar_options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}
.navBar_lists .navbar_options a {
  text-decoration: none;
  color: black;
}

.navbar_rightside_icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar_rightside_icons .cart_icon {
  position: relative;
}
.navbar_rightside_icons .cart_icon .cartValue {
  position: absolute;
  top: -2px;
  right: -2px;
  width: 14px;
  height: 14px;
  color: #ffffff;
  background: #ed4e08;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.navbar_rightside_icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.search_icon_with_input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search_icon_with_input input {
  width: 50%;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: right;
  outline: none;
  border: none;
}
.homepage_banner {
  background: linear-gradient(to right, #181716, #ed4e08);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 13px 0;
  font-size: 15px;
}
.homepage_banner .banner_button {
  background: #fff;
  border-radius: 20px;
  color: #000;
  padding: 5px 10px;
}
.breadcrumbs {
  font-size: 12px;
  padding: 15px 0;
  font-weight: 300;
}
.breadcrumbs span {
  font-weight: 500;
}

.product_sections .filter_name {
  font-size: 20px;
  font-weight: 300;
  color: #878787;
  padding: 5px 0;
}
.product_sections .filter_name #change_filter_name {
  font-weight: 700;
  color: #000000;
}
.filters_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
.filters_container .filters {
  display: flex;
  align-items: center;
  gap: 10px;
}
.filters_container .filters .filters_label {
  font-weight: 700;
  font-size: 16px;
}
.filters_container .filters .filter_option,
.filters_container .sort_container {
  border: 1px solid #c4c4c4;
  border-radius: 42px;
  padding: 8px 15px;
  color: #878787;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.filters_container .filters .filter_option.active,
.filters_container .filters .filter_option:hover,
.filters_container .sort_container {
  border: 1px solid #000000;
  color: #000000;
}
.filters_container .sort_container {
  font-weight: 300;
}
.filters_container .sort_container select {
  border: none;
  outline: none;
  font-weight: 500;
  color: #000;
}
.product_sections .space_divider {
  margin: 10px 0;
  border: 1px solid #e5e5e5;
}
#all_products_cards {
  padding-top: 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}
.product_card {
  width: 262px;
  transition: all 0.5s linear;
  position: relative;
}
.product_card:hover {
  transform: scale3d(1.1);
  box-shadow: 0px 0px 10px rgb(219, 219, 219);
}
.product_card .product-image {
  width: 262px;
  height: 349px;
}
.product_card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product_card .productActions {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  bottom: 0;
  opacity: 0;
  padding: 0 10px;
  transition: all 0.3s linear;
}

.product_card:hover .productActions .sizeTitle {
  font-size: 12px;
  padding: 10px 0 0;
  font-weight: 500;
}
.product_card:hover .productActions {
  opacity: 1;
}
.product_card .productActions .productSizes_number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 10px 0;
}
.product_card .productActions .productSizes_number button {
  width: 37;
  height: 47;
  border-radius: 50%;
  padding: 5px 7px;
  border: 1px solid #c4c4c4;
  background-color: #ffffff;
  cursor: pointer;
}
.product_card .productActions .productSizes_tag {
  /* padding:0 10px; */
  font-size: 14px;
  font-weight: 300;
}
.product_card .productActions .addToCartButton {
  margin: 12px 10px 4px;
  padding: 4px 0;
  text-align: center;
  border-radius: 3px;
  border: 1px solid #878787;
  cursor: pointer;
  display: none;
}
.product_card .productActions .productSizes_tag button {
  border: none;
  background: none;
  font-weight: 300;
  padding: 3px 4px;
}
.product_card .product-details {
  padding-top: 10px;
  padding-left: 10px;
  overflow: hidden;
}
.product_card .product-details .product-title {
  font-size: 16px;
  font-weight: 700;
}
.product_card .product-details .product-name {
  font-size: 14px;
  font-weight: 300;
  color: #878787;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product_card .product-pricing {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 300;
}
.product-pricing .price {
  font-weight: 700;
}
.product-pricing .mrp-price {
  color: #878787;
  text-decoration: line-through;
}
.product-pricing .discount {
  color: #f8a4a4;
}
#all_products_cards.empty_products {
  justify-content: center;
}
.empty_msg {
  text-align: center;
  font-size: 25px;
  color: #c4c4c4;
  text-transform: capitalize;
}

@media screen and (min-width: 320px) {
  nav {
    padding: 16px 15px;
  }
  .homepage_banner {
    display: block;
    font-size: 13px;
    padding: 5px 15px;
    text-align: center;
  }
  .homepage_banner .banner_button {
    width: 100px;
    margin: 5px auto;
  }
  #all_products_cards{
  justify-content: center;
}
  .product_sections {
    padding: 0 15px;
}
.product_card {
    width: 162px;
}
.product_card .product-image {
        max-width: 100%;
        height: auto;
    }
    .product_card .productActions .productSizes_number {
    gap: 3px;
}
.product_card .productActions .addToCartButton{
  font-size: 14px;
}

    .product_card .productActions .productSizes_number button {
    padding: 2px 4px;
    font-size: 12px;
}

.filters_container .filters{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.filters_container {
     display: flex;
     flex-direction: column;
     align-items: start;
     gap: 10px;
}
.navbar_options {
  display: none;
}

}

@media screen and (min-width: 375px) {
#all_products_cards{
  justify-content: space-between;
}
}
@media screen and (min-width: 768px) {
      .product_card {
        width: 215px;
    }
}

@media screen and (min-width: 1024px) {
  nav {
    padding: 16px 25px;
  }
      .navbar_options {
        display: flex;
    }
  .homepage_banner {
    display: flex;
    padding: 13px 0;
    font-size: 15px;
}
    .homepage_banner .banner_button {
        margin: unset;
    }
  .filters_container {
    flex-direction: row;
    align-items: center;
  }
  .product_sections {
    padding: 0 25px;
}
}

@media screen and (min-width: 1200px) {
   .product_card {
        width: 262px;
    }
     .product_card .productActions .productSizes_number button {
    padding: 5px 7px;
    font-size: 15px;
}
}