*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
nav{
    padding: 16px 25px;
     font-size: 14px;
}
.navBar_lists{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}
.navBar_lists img{
    width: 38px;
    height: 38px;
}
.navbar_options{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 15px;
}
.navBar_lists .navbar_options a{
    text-decoration: none;
    color: black;

}

.navbar_rightside_icons{
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar_rightside_icons img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.search_icon_with_input{
     display: flex;
    align-items: center;
    justify-content: flex-end;
}
.search_icon_with_input input{
    width: 50%;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
    text-align:right;
    outline: none;
}
.homepage_banner{
background:linear-gradient(to right, #181716,#ED4E08) ;
color: white;
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
padding: 13px 0;
font-size: 15px;
}
.homepage_banner .banner_button{
    background: #fff;
    border-radius: 20px;
    color: #000;
    padding: 5px 10px;
}
.breadcrumbs{
    font-size: 12px;
    padding: 15px 0;
    font-weight: 300;
}
.breadcrumbs span{
    font-weight: 500;
}
.product_sections{
     padding: 0 25px;
}
.product_sections .filter_name{
    font-size: 20px;
    font-weight: 300;
    color: #878787;
    padding: 5px 0;
}
.product_sections .filter_name #change_filter_name{
    font-weight: 700;
    color: #000000;
}
.filters_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}
.filters_container .filters {
display: flex;
    align-items: center;
    gap: 10px;
}
.filters_container .filters .filters_label{
    font-weight: 700;
    font-size: 16px;
}
.filters_container .filters .filter_option,.filters_container .sort_container{
    border: 1px solid #C4C4C4;
    border-radius: 42px;
    padding: 8px 15px;
    color: #878787;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.filters_container .filters .filter_option.active, .filters_container .filters .filter_option:hover, .filters_container .sort_container{
border: 1px solid #000000;
 color: #000000;
}
.filters_container .sort_container{
      font-weight: 300;
}
.filters_container .sort_container select{
border:none;
outline: none;
 font-weight: 500;
 color: #000;
}
.product_sections .space_divider{
    margin: 10px 0 ;
    border: 1px solid #E5E5E5;
}
#all_products_cards {
    padding-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 20px;
}
.product_card {
    width: 262px;
    transition: all 0.5s linear;
    position: relative;
}
.product_card:hover {
    transform: scale3d(1.1);
    box-shadow: 0px 0px 10px rgb(219, 219, 219);
}
.product_card .product-image{
    width: 262px;
    height: 349px;
}
.product_card .product-image img{
width: 100%;
height: 100%;
object-fit: cover;
}
.product_card .productActions{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    bottom: 0;
    opacity: 0;
    padding: 0 10px;
    transition: all 0.3s linear;
}

.product_card:hover .productActions .sizeTitle{
    font-size: 12px;
    padding: 10px 0 0;
    font-weight: 500;
}
.product_card:hover .productActions{
    opacity: 1;
}
.product_card .productActions .productSizes_number{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
     padding: 10px 0;
}
.product_card .productActions .productSizes_number button{
    width: 37;
    height: 47;
    border-radius: 50%;
    padding: 5px 7px;
    border: 1px solid #c4c4c4;
    background-color: #ffffff;
    cursor: pointer;
}
.product_card .productActions .productSizes_tag {
    /* padding:0 10px; */
    font-size: 14px;
    font-weight: 300;
}
.product_card .productActions .addToCartButton {
    margin:4px 10px;
    padding: 4px 0;
    text-align:center ;
    border-radius: 3px;
    border: 1px solid #878787;
    cursor: pointer;
    display: none;
}
.product_card .productActions .productSizes_tag button{
    border:none;
    background: none;
    font-weight: 300;
    padding: 3px 4px;
}
.product_card .product-details{
    padding-top: 10px;
    padding-left: 10px;
    overflow: hidden;
}
.product_card .product-details .product-title{
    font-size: 16px;
    font-weight: 700;
}
.product_card .product-details .product-name{
    font-size: 14px;
    font-weight: 300;
    color: #878787;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product_card  .product-pricing{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 300;
}
 .product-pricing .price{
    font-weight: 700;
}
 .product-pricing .mrp-price{
 color: #878787;
 text-decoration: line-through;
}.product-pricing .discount{
color: #f8a4a4;
}
#all_products_cards.empty_products{
    justify-content: center;
}
.empty_msg{
    text-align: center;
    font-size: 25px;
    color: #C4C4C4;
    text-transform: capitalize;
}


/* ----------Cart Drawer----------- */

.cart_drawer{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    width: 25rem;
    background: #fff;
    box-shadow: 0px 0px 10px rgb(143, 143, 143);
    transform: translateX(101%) ;
    transition: transform 0.4s linear;
}
.cart_drawer.active{
    transform: translateX(0%) ;
    transition: transform 0.4s linear;
}
.cart_drawer .cartHeader{
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    
}
.cart_drawer .cartHeader .cartTitle{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
.cart_drawer .cartHeader .closeCartIcon{
    background: none;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}
.cart_drawer .cartHeader .closeCartIcon .close_icon{
    width: 16px;
    height: 16px;
}

.cart_drawer .cartProducts{
padding: 10px;
}
.cart_drawer .cartProducts .singleProduct{
    display: flex;
    align-items: center;
    padding: 5px;
}
.singleProduct .productImage{
    width: 90px;
    height: 100px;
    padding: 10px 5px;
}
.singleProduct .productImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.singleProduct .productInfo{
margin-left: 10px;
display: flex;
flex-flow: row wrap;
width: calc(100% -90px);
position: relative;
}
.singleProduct .productInfo .itemTitle{
    width: 100%;
    font-size: 14px;
    font-weight: 600;
}
.singleProduct .productInfo .itemVendor{
    width: 100%;
    font-size: 12px;
    color: #7b7b7b;
}
.singleProduct .productInfo .itemSize{
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    color: #ff8686;
}
.singleProduct .productInfo .deleteItem{
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
    padding:2px 4px ;
    border-radius: 5px;
}
.singleProduct .productInfo .deleteItem:hover{
    background-color: #e7e7e7;
}
.singleProduct .productInfo .itemQuantity{
    width: 50%;
    display: flex;
    align-items: center;
}
.singleProduct .productInfo .itemQuantity button{
    border: 1px solid #c4c4c4;
    background:none;
    padding: 1px 7px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}  
.singleProduct .productInfo .itemQuantity button:hover{
background-color: #f4f4f4;
} 
.singleProduct .productInfo .itemQuantity span{
    border-top: 1px solid #c4c4c4;;
    border-bottom: 1px solid #c4c4c4;
    padding: 1px 7px;
    font-size: 14px;
    font-weight: 700;
     width: 3rem;
     text-align: center;
     cursor: default;
}
.singleProduct .productInfo .itemPrice{
    width: 50%;
    text-align: right;
    padding-right: 10px;
    font-size: 14px ;
    font-weight: 600;
}
